@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
}
.service-container {
  background: url("/assets/images/services/services-bg.svg") no-repeat;
  background-position: center;
  background-size: cover;
}
