@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
}
.service-container {
  background: url("/assets/images/services/services-bg.svg") no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 768px) {
  .service-container {
    background: url("/assets/images/services/services-bg-mobile.svg") no-repeat;
    background-position: top;
    background-size: contain;
    padding: 25px;
  }
}
